* {
	margin: 0;
	padding: 0;	
}

body {
	height: 2000px;
}

/* mainNavigation */

/*#mainNavigation{
	border: 0;
	margin: 0 auto;
	border-radius: 0px;
	background-color: transparent !important;
}

#mainNavigation .container {
	background: #9e9d9d;
	background: linear-gradient(#9e9d9d, #6e6d6d);
	background: -o-linear-gradient(#9e9d9d, #6e6d6d);
	background: -moz-linear-gradient(#9e9d9d, #6e6d6d);
  background: -webkit-linear-gradient(#9e9d9d, #6e6d6d);
}

#mainNavigation .navbar-nav li a{
	color: white;
	font-size: 16px;
	padding-left: 18.4px;
	padding-right: 18.4px;
	font-family: 'Arno-Pro';
	text-transform: uppercase;
}

#mainNavigation .navbar-nav li a:hover{
	background-color: #48b3d6;
}*/

/* Slider */

#slider {
	height: 628px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('.././images/sliders/slider_1.jpg');
}

#slider .slider-content p:nth-of-type(1) {
	margin-top: 160px;
	font-size: 23.81px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham-Thin-Regular';
}

#slider .slider-content h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 58.66px;
	text-transform: uppercase;
	font-family: 'Gotham-Extra-Light';
}

#slider .slider-content p:nth-of-type(2) {
	font-size: 18.66px;
	text-align: center;
	position: relative;
	font-family: 'Goudy';
	text-transform: uppercase;
}

#slider .slider-content p:nth-of-type(2) span:nth-of-type(1)::before{
	content: " ";
	display: table;
	position: relative;
	height: 1px;
	background-color: black;
	top: -15%;
	left: 0;
	width: 85%;
	margin: 0 auto;
}
#slider .slider-content p:nth-of-type(2) span:nth-of-type(2)::after{
	content: " ";
	display: table;
	position: relative;
	height: 1px;
	background-color: black;
	bottom: -15%;
	right: 0;
	width: 85%;
	margin: 0 auto;
}

#slider .slider-content .btn-slider-see-collection {
	color: white;
	display: block;
	border-radius: 0px;
	letter-spacing: 1px;
	background-color: black;
	margin: 20px auto 0 auto;
	font-family: 'GothamBook';
	text-transform: uppercase;
}

#slider .slider-content .btn-slider-see-collection:active,
#slider .slider-content .btn-slider-see-collection:focus,
#slider .slider-content .btn-slider-see-collection:hover {
	outline: 0px;
	box-shadow: 0px;
}

/* Info Slider */

#info-slider {

}

#info-slider .info-slider-content {
	padding-left: 90px;
	padding-right: 90px;
	border-bottom: 4px solid #e6e6e6;
}

#info-slider .info-slider-content h1 {
	margin-top: 80px;
	margin-bottom: 0px;
	font-size: 53.33px;
	text-transform: uppercase;
	font-family: 'Gotham-Extra-Light';
}

#info-slider .info-slider-content p {
	font-size: 16px;
	font-family: 'Gotham-Thin-Regular';
}

#info-slider .info-slider-content .btn-infoslider-collections {
	border: 0px;
	color: white;
	padding: 5px 20px;
	font-size: 15.83px;
	letter-spacing: 1px;
	border-radius: 15px;
	background-color: #109bc9;
	font-family: 'Gotham-Rounded-Light';
}

#info-slider .info-slider-content .btn-infoslider-collections:active,
#info-slider .info-slider-content .btn-infoslider-collections:focus,
#info-slider .info-slider-content .btn-infoslider-collections:hover {
	outline: 0px;
	box-shadow: 0px;
}