* {
	margin: 0;
	padding: 0;	
}

/* Global Style */ 

/*.container {
	max-width: 1113px;
	margin: 0 auto;
}*/
body {
	height: 2000px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* header */

.site-header img {
	float: left;
}

.site-header .nav-top {
	margin-top: 40px;
	list-style-type: none;
	float: right;
}

.site-header .nav-top li {
	display: inline-block;
	padding: 0px 10px;
	float: left;
	position: relative;
}

.site-header .nav-top li span.divider::before {
	content: " ";
	display: table;
	position: absolute;
	height: 10px;
	width: 1px;
	background-color: #8d8a8a;
	top: 7px;
	right: 0;
}

.site-header .nav-top .header-info {
	text-align: right;
}

.site-header .nav-top li a{
	text-transform: uppercase;
	font-size: 10px;
	color: #8d8a8a;
	font-family: 'Gotham-Rounded-Light';
	font-weight: bold;
}

.site-header .nav-top li a span{
	margin-top: -4px;
	text-transform: initial;
	display: block;
}

.site-header .nav-top li a:hover{
	text-decoration: none;
}

/**/

.site-header .search-icons-cart {
	margin-top: 25px;
	list-style-type: none;
	float: right;
}

.site-header .search-icons-cart li {
	display: inline-block;
	float: left;
	position: relative;
}

.site-header .search-icons-cart li input {
	width: 260px;
	border-radius: 0px;
	border: 1px solid #8c8c8c;
	font-size: 10px;
	margin-right: 5px;
	font-family: 'Gotham-Rounded-Light';
	margin-top: 4px;
}

.site-header .search-icons-cart li input:focus,
.site-header .search-icons-cart li input:active {
	box-shadow: 0px !important;
	outline: 0px !important;
}

.site-header .search-icons-cart li button {
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	margin-left: 5px;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
	font-size: 10.67px;
	text-transform: uppercase;
	border: 1px solid #8c8c8c;
	border-radius: 0px;
	font-family: 'Gotham-Rounded-Light';
	background-color: black;
	margin-top: 4px;
	margin-right: 15px;
}

.site-header .search-icons-cart li button:hover {
	background-color: black;
	box-shadow: 1px 2px 2px #b9b9b9;
}

.site-header .search-icons-cart li button:focus,
.site-header .search-icons-cart li button:active {
	outline: 0px;
	box-shadow: 0px;
	color: white;
}

.site-header .search-icons-cart .nav-social-icons {
	margin-left: 10px;
	position: relative;
}

.site-header .search-icons-cart .nav-social-icons .fa-shopping-cart {
	color: #4f4f4f;
	padding-left: 20px;
	padding-top: 5px;
}

.site-header .search-icons-cart .nav-social-icons .cart-count {
	background-color: #f35a5a;
	padding-left: 5px;
	width: 17px;
	height: 17px;
	font-size: 10px;
	color: white;
	border-radius: 50%;
	position: absolute;
	right: -5px;
	padding-top: 1px;
	overflow: hidden;
}

/* Navigation */

.navbar {
	margin: 0;
	border: 0px;
	border-radius: 0px;
	background: #a9a8a8;
	background: -o-linear-gradient(#a9a8a8, #6e6d6d);
  background: linear-gradient(#a9a8a8, #6e6d6d);
  background: -webkit-linear-gradient(#a9a8a8, #6e6d6d);
  background: -moz-linear-gradient(#a9a8a8, #6e6d6d);
}

.navbar .container {
	background: #a9a8a8;
	background: -o-linear-gradient(#a9a8a8, #6e6d6d);
  background: linear-gradient(#a9a8a8, #6e6d6d);
  background: -webkit-linear-gradient(#a9a8a8, #6e6d6d);
  background: -moz-linear-gradient(#a9a8a8, #6e6d6d);
}

.navbar .navbar-nav li a {
	color: white;
	padding-left: 17px;
	font-size: 15.96px;
	padding-right: 17px;
	font-family: 'Arno-Pro';
	text-transform: uppercase;
}

.navbar .navbar-nav li a:hover {
	color: white;
	background-color: #109bc9;
}

/* Slider */

.site-banner {
	height: 628px;
	position: relative;
	/*background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/sliders/slider_1.jpg');*/
	background: #62bcff;
	background: -o-linear-gradient(bottom right, #62bcff, #ffffff);
  background: linear-gradient(to bottom right, #62bcff, #ffffff);
  background: -webkit-linear-gradient(left top, #62bcff, #ffffff);
  background: -moz-linear-gradient(bottom right, #62bcff, #ffffff);
}

.site-banner .content {
	padding-left: 95px;
}

.site-banner .content-inner {
	width: 48%;
}

.site-banner .intro {
	margin-top: 165px;
	font-size: 23.81px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham-Thin-Regular';
}

.site-banner .title {
	margin-top: 0px;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 58.66px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham-Extra-Light';
}
.site-banner .desc {
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	font-size: 18.66px;
	padding-bottom: 5px;
	font-family: 'Goudy';
	text-transform: uppercase;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.site-banner .button-banner {
	color: white;
	display: block;
	font-size: 16px;
	border-radius: 0px;
	padding-left: 15px;
	padding-right: 15px;
	letter-spacing: 2px;
	background-color: black;
	border: 2px solid black;
	margin: 20px auto 0 auto;
	text-transform: uppercase;
	font-family: 'GothamBook';
	transition: all .2s ease-out;
}

.site-banner .button-banner:hover {
	box-shadow: 1px 1px 10px black;
	transition: all .2s ease-in;
}

.site-banner .button-banner:focus,
.site-banner .button-banner:active {
	outline: 0px;
	box-shadow: 0px;
}

/* Tab */

.site-tab .content {
	padding-left: 95px;
	border-bottom: 4px solid #e6e6e6;
}

.site-tab .title {
	margin-top: 85px;
	font-size: 53.33px;
	font-family: 'Gotham-Extra-Light' !important;
}

.site-tab .desc {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Gotham-Thin-Regular';
}

.site-tab .button-tab {
	color: white;
	margin-top: 15px;
	font-size: 15.83px;
	letter-spacing: 1px;
	border-radius: 20px;
	border: 2px solid #109bc9;
	background-color: #109bc9;
	font-family: 'Gotham-Rounded-Light';
	transition: all .2s ease-out;
}

.site-tab .button-tab:hover {
	box-shadow: 1px 1px 10px #959595;
	transition: all .2s ease-in;
}

.site-tab .button-tab:focus,
.site-tab .button-tab:active {
	outline: 0px;
	box-shadow: 0px;
}

.site-tab .img-bracelet {
	display: block;
	margin: 50px auto 0 auto;
}

/* Section Collection */

.site-collection .title {
	color: #505154;
	margin-top: 65px;
	font-size: 39.99px;
	text-align: center;
	font-family: 'Arno-Pro';
	text-transform: uppercase;
}

.site-collection .border-stars {
	display: block;
	margin: 0 auto;
}

.site-collection .product-col {
	margin-top: 50px;
}

.site-collection .product-box {
	/*border: 1px solid #ebebeb;*/
	padding: 20px 50px 30px 50px;
/*	box-shadow: 3px 3px 6px #ebebeb;*/
}

.site-collection .product-title {
	font-size: 20px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	font-family: 'Gotham-Rounded-Light';
}

.site-collection .product-title span::after {
	left: 31%;
	width: 40%;
	height: 3px;
	content: " ";
	bottom: -40%;
	display: table;
	position: absolute;
	background-color: #505154;
}

.site-collection .link {
	color: #109bc9;
	display: block;
	margin-top: 20px;
	font-weight: bold;
	font-size: 13.08px;
	text-align: center;
	font-family: 'Gotham-Rounded-Light';
}

.site-collection .link:hover {
	text-decoration: none;
}

.site-collection .product img {
	display: block;
	margin: 0 auto;
}

/* Section Arrival */

.site-arrival .intro {
	color: #7d7d7e;
	margin-top: 80px;
	overflow: hidden;
	margin-bottom: 0px;
	font-size: 26.66px;
	text-align: center;
	position: relative;
	font-family: 'Arno-Pro';
	text-transform: uppercase;
}

.site-arrival .intro::before {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 4%;
  height: 2px;
  content: '\a0';
  background-color: #656769;
  margin-left: -5.5%;
  text-align: right;
}

.site-arrival .intro::after {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 4%;
  height: 2px;
  content: '\a0';
  background-color: #656769;
  margin-left: 1.4%;
  text-align: right;
}

.site-arrival .title {
	color: #505154;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 39.99px;
	text-align: center;
	font-family: 'Arno-Pro';
	text-transform: uppercase;
}

.site-arrival .border-stars {
	display: block;
	margin: 0 auto;
}

.site-arrival .product {
	margin-top: 50px;
}

.site-arrival .arrival-box {
	/*border: 1px solid #ebebeb;*/
	padding: 20px 50px 30px 50px;
}

.site-arrival .product-title {
	margin-bottom: 20px;
	font-size: 19.99px;
	text-align: center;
	font-family: 'Gotham-Rounded-Light';
}

.site-arrival .product-title span::after {
	left: 42%;
	width: 16%;
	height: 2px;
	content: " ";
	bottom: 17%;
	display: table;
	position: absolute;
	background-color: #505154;
}

.site-arrival .link {
	color: #109bc9;
	display: block;
	margin-top: 0px;
	font-weight: bold;
	font-size: 13.03px;
	text-align: center;
	font-family: 'Gotham-Rounded-Light';
}

.site-arrival .link:hover {
	text-decoration: none;
}

.site-arrival .product img{
	display: block;
	margin: 0 auto;
}

/* Section Offer */

.site-offer .qoute-title {
	color: #616161;
	margin-top: 35px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Arno-Pro';
}

.site-offer .author-qoute {
	color: #616161;
	font-size: 16px;
	text-align: center;
	font-family: 'Arno-Pro';
}

.site-offer .col-md-6:nth-of-type(1) {
	background-image: url('.././images/offer/offer-discount.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.site-offer .cross-fing {
	background-image: url('.././images/offer/fingers.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.site-offer .discount {
	margin-bottom: -30px;
	margin-top: 50px;
	text-align: center;
	font-size: 95.1px;
	font-family: 'Gotham-Medium';
}

.site-offer .discount span {
	margin-bottom: -30px;
	margin-top: 50px;
	text-align: center;
	font-size: 42.5px;
	vertical-align: top;
	font-family: 'Gotham-Medium';
}

.site-offer .title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 26.98px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham-Light';
}

.site-offer .desc {
	font-size: 13.33px;
	text-align: center;
	font-family: 'Gotham-Light';
}

.site-offer .button-offer {
	display: block;
	margin: 0 auto 60px auto;
	color: #fcfcfc;
	padding: 1px 20px;
	font-size: 15.99px;
	border-radius: 22px;
	background: #494d96;
	font-family: 'Gotham-Thin-Regular';
	background-size: cover;
	background-position: center;
	background: -o-linear-gradient(#494d96, #0e1374);
  background: linear-gradient(#494d96, #0e1374);
  background: -webkit-linear-gradient(#494d96, #0e1374);
  background: -moz-linear-gradient(#494d96, #0e1374);
}

.site-offer .button-offer:active,
.site-offer .button-offer:focus {
	box-shadow: 0px;
	outline: 0px;
}

.site-offer .button-ourlove {
	text-shadow: 0px 2px 4px #413f3e;
	border-radius: 15px;
	color: white;
	border: 4px solid #d7d3d5;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 44.44px;
	font-family: 'Goudy-Regular';
	display: block;
	width: 70%;
	margin: 125px auto 0 auto;
}

.site-offer .button-ourlove:active,
.site-offer .button-ourlove:focus {
	box-shadow: 0px;
	outline: 0px;
}

.site-offer .share {
	text-align: center;
	font-family: 'Allura';
	color: white;
	font-size: 33.56px;
	margin-bottom: 30px;
}

.site-offer .cross-fing ul {
	list-style-type: none;
	display: block;
	margin: 0 auto 25px auto;
	text-align: center;
}

.site-offer .cross-fing ul li {
	margin-right: 20px;
	display: inline-block;
}

.site-offer .cross-fing ul li:last-child {
	margin-right: 0px;
}

/* Section Feature */

.site-feature {
	margin-top: 30px;
	background-color: #ecebea;
}

.site-feature .col-box img {
	display: block;
	margin: 0 auto;
}

.site-feature .title {
	font-size: 24.58px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'CenturyGothic';
}

.site-feature .desc {
	color: #7e7e7e;
	font-size: 17.2px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Cataneo';
}

.site-feature .content-inner {
	margin-top: 30px;
}

/* Section Special */

.site-special img {
	padding-right: 40px;
	margin-top :115px;
}

.site-special .title {
	margin-top: 80px;
	position: relative;
	font-size: 32.94px;
	text-transform: uppercase;
	font-family: 'Gotham-Light';
}

.site-special .title span::before{
	content: " ";
	display: table;
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 4px;
	background-color: #e8e8e8;
	width: 44%;
}

.site-special .desc {
	position: relative;
	margin-top: 35px;
	font-size: 13.33px;
}

.site-special .button-special {
	margin-top: 30px;
	color: #fcfcfc;
	padding: 10px 35px;
	font-size: 15.99px;
	border-radius: 22px;
	background: #494d96;
	background: -o-linear-gradient(#494d96, #0e1374);
  background: linear-gradient(#494d96, #0e1374);
  background: -webkit-linear-gradient(#494d96, #0e1374);
  background: -moz-linear-gradient(#494d96, #0e1374);
	font-family: 'Gotham-Thin-Regular';
}

.site-special .button-special:active,
.site-special .button-special:focus {
	box-shadow: 0px;
	outline: 0px;
}

/* Section Newsletter */

.site-newsletter {
	padding-bottom: 25px;
	margin-top: 55px;
	background-color: #79d8f6;
}
.site-newsletter .col-border-1 {
	border-right: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.site-newsletter .col-border-2 {
	border-left: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.site-newsletter .title,
.site-newsletter .desc {
	text-align: center;
}
.site-newsletter .title {
	font-size: 24px;
	margin-top: 45px;
	text-transform: uppercase;
	font-family: 'Gotham-Rounded-Light';
}
.site-newsletter .desc {
	font-size: 14.67px;
	font-family: 'Gotham-Rounded-Light';
}
.site-newsletter .form-newsletter {
	display: block;
	margin: 0 auto;
}
.site-newsletter input {
	border-radius: 0px;
	width: 100%;
	margin-right: 10px;
	height: 45px;
	border: 0px;
}
.site-newsletter input:focus,
.site-newsletter input:active,
.site-newsletter input:visited {
	outline: 0px;
	box-shadow: none;
}
.site-newsletter button {
	border-radius: 0px;
	width: 100%;
	height: 45px;
	background-color: #000000;
	color: white;
	border: 0px;
	text-transform: uppercase;
}
.site-newsletter button:active,
.site-newsletter button:focus,
.site-newsletter button:visited {
	outline: 0px;
}
.site-newsletter .form-newsletter {
	margin-top: 35px;
	margin-bottom: 45px;
}

/* Start of Footer */

.site-footer .logo-footer img {
	display: block;
}

.site-footer .row ul {
	list-style-type: none;
}

.site-footer .row ul li {
	font-size: 13.33px;
	font-weight: bold;
	font-family: 'Gotham-Light';
}

.site-footer .row ul li a {
	color: black;
	font-weight: bold;
}

.site-footer .row ul li a:hover {
	color: #c7c7c7;
	text-decoration: none;
	transition: .2s;
}

.site-footer .row p {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 17.33px;
	font-family: 'Arno-Pro';
}

.site-footer .logo-footer,
.site-footer .location p:nth-of-type(1),
.site-footer .about-services p:nth-of-type(1),
.site-footer .information-education p:nth-of-type(1) {
	margin-top: 55px;
}

.site-footer .location p:nth-of-type(2) {
	margin-top: 35px;
}

.site-footer .about-services p:nth-of-type(2) {
	margin-top: 54px;
}

.site-footer .information-education p:nth-of-type(2) {
	margin-top: 35px;
}

/* Footer Connect With Us */

.site-footer .social-media p{
	font-weight: bold;
	text-align: center;
	margin-top: 45px;
	font-size: 17.33px;
	font-family: 'GothamBook';
}

.site-footer .social-media ul {
	text-align: center;
	display: block;
	list-style-type: none;
	margin-bottom: 0px;
}

.site-footer .social-media ul li {
	display: inline-block;
	margin-right: 1%;
}

.site-footer .social-media ul li:last-child {
	margin-right: 0px;
}

/* Footer Copyright */

.site-footer .copyright {
	margin-top: 25px;
	background-color: black;
}

.site-footer .copyright p {
	padding: 25px 0px;
	font-size: 12px;
	font-family: 'Gotham-Thin-Regular';
	text-align: center;
	color: #6e6c6c;
	margin-bottom: 0px;
}

.site-footer .copyright p span {
	text-transform: uppercase;
	font-family: 'Gotham-Light';
}

.site-jewelry {
	position: relative;
}

.site-jewelry .jewelry-sidebar {
	margin-top: 20px;
	width: 22%;
	margin-right: 2%;
	height: 200px;
	float: left;
}

.site-jewelry .jewelry-sidebar .panel,
.site-jewelry .jewelry-sidebar .panel-default {
	border-radius: 0px;
	box-shadow: 0px;
	margin: 0;
	border-bottom: 0px;
}

.site-jewelry .jewelry-sidebar .panel-heading {
	font-family: 'Gotham-Rounded-Light';
	border-radius: 0px;
	padding: 10px;
	font-weight: bold;
}

.site-jewelry .jewelry-sidebar .panel a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.site-jewelry .jewelry-sidebar .panel .panel-collapse {
	box-shadow: 0px !important;
	border: 0px;

}

.site-jewelry .jewelry-sidebar .panel .panel-collapse,
.site-jewelry .jewelry-sidebar .panel .panel-collapse .panel-body {
	padding: 0 !important;
}

.site-jewelry .jewelry-sidebar .panel .collapsed-menu {
	border: 0px !important;
	box-shadow: 0px !important;
}

.site-jewelry .jewelry-sidebar .panel .collapsed-menu ul .first{
	border-bottom: 1px solid #e6e6e6;
}

.site-jewelry .jewelry-sidebar .panel .collapsed-menu ul .last{
	border-bottom: 0px;
}

.site-jewelry .jewelry-sidebar .panel .collapsed-menu ul li a {
	padding: 8px 10px 8px 25px;
}

.site-jewelry .jewelry-sidebar .panel .collapsed-menu .in,
.site-jewelry .jewelry-sidebar .panel .collapsed-menu .collapse {
	padding: 0;
}

.site-jewelry .jewelry-sidebar .panel .panel-body-first {
	border-top: 0px;
}
.site-jewelry .jewelry-sidebar .panel .panel-body-last {
	border-bottom: 1px solid #e6e6e6;
}

.site-jewelry .jewelry-sidebar .panel-body {
	border-top: 1px solid #e6e6e6;
	font-family: 'Gotham-Rounded-Light';
	padding: 10px;
}

.site-jewelry .jewelry-main {
	margin-top: 20px;
	width: 76%;
	float: left;
}

.site-jewelry .jewelry-main .row {
	margin-bottom: 30px;
}

.site-jewelry .jewelry-main .wrap {
	border: 1px solid #e6e6e6;
	padding-top: 30px;
	padding-bottom: 30px;
}

.site-jewelry .jewelry-main .wrap img {
	display: block;
	margin: 0 auto;
}
.site-jewelry .jewelry-main .wrap p.name{
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: 'Gotham-Rounded-Light';
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.site-jewelry .jewelry-main .wrap p.price{
	font-family: 'Gotham-Rounded-Light';
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px;
	font-size: 14px;
}

.site-jewelry .jewelry-main .wrap .out-of-stocks {
	padding: 2px 5px;
	color: white;
	display: table;
	margin: 0 auto;
	background-color: #ff5f5f;
	text-transform: uppercase;
	font-family: 'Open-Sans';
	font-size: 10px;
}

.site-jewelry .jewelry-main .wrap .stocks-available {
	padding: 2px 5px;
	color: white;
	display: table;
	margin: 0 auto;
	background-color: #2fc583;
	text-transform: uppercase;
	font-family: 'Open-Sans';
	font-size: 10px;
}

.site-jewelry .jewelry-main .wrap button {
	font-family: 'Open-Sans';
	display: block;
	text-transform: uppercase;
	margin: 10px auto;
	border-radius: 0px;
	width: 50%;
	font-size: 10px;
}

.site-jewelry .jewelry-main .wrap button.disabled {
	opacity: .3;
}

.site-jewelry .jewelry-main .wrap button:active,
.site-jewelry .jewelry-main .wrap button:focus {
	outline: 0px;
	box-shadow: 0px;
}

.site-jewelry .jewelry-main .pagination {
	margin: 0;
}